<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tìm chủ đề bài viết Facebook</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        function clear_result() {
            $('#result').text('')
            $('textarea').text('')
        }
    </script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Tìm chủ đề bài viết Facebook</span>
    <div><small class="text-muted">© Developed by QuangVT and HieuTM at FIMO</small></div>
</nav>
<div class="container">
    <form method="post">
        <div class="form-group mt-5">
            <label for="postTextarea">Nội dung bài viết</label>
            <textarea name="post" class="form-control" id="postTextarea" rows="6" aria-describedby="postHelp">{{ post }}</textarea>
            <small id="postHelp" class="form-text text-muted">Để đạt độ chính xác cao, hãy nhập bài viết nhiều hơn 50 ký tự.</small>
        </div>
        <button type="submit" class="btn btn-primary">Gửi</button>
        <button type="reset" class="btn btn-danger" onclick="clear_result()">Xóa</button>
    </form>
    <div id="result" class="mt-5">
        {% if post %}
        <h3>Dự đoán</h3>
        {% if topic %}
            <div class="alert alert-success" role="alert">
                <p>Chủ đề: <strong>{{ topic }}</strong></p>
                {% endif %}
                {% if score %}
                <p>Điểm số: <strong>{{ score }}</strong></p>
            </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
</body>
</html>
